{% extends 'base.html' %}
{% block title %} formulaire ajout formation page {% endblock %}
{% block content %}

<form action="add_enfant" method="post">
    {% csrf_token %}
    <br>
    <div class="row">
        
        <div class="col-md-6">
            <h4>Information de parent</h4>
            {{ formP.as_p }}
        </div>
        <div class="col-md-6">
            <h4>Information de fonctionnaire</h4>
            {{ formF }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Information d'enfant</h4>
            
        </div>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">ajouter</button>
    </div>
</form>  
        
{% endblock %}